@import "../../styles/variables.scss";

.conceptContainer {
  color: $pink;
  margin-top: 124px;
  position: relative;
  margin-bottom: 200vh;
  h2 {
    margin-bottom: 24px;
  }
  p {
    color: $black;
  }
}
.space {
  min-height: 70vh;
}

.concept {
  display: flex;
  margin-top: 304px;
  // position: absolute;
  position: sticky;
  top: 15%;
  // top: 100%;
  // transform: translateY(-100%);
  opacity: 1;
  .imgContainer {
    width: 50%;
    height: 350px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .conceptText {
    width: 50%;
    margin-left: 60px;
    opacity: 1;
    h3 {
      margin-bottom: 24px;
    }
  }
}

.concept:nth-of-type(3) {
  margin-top: 150vh;
  // background-color: rsed;
}
