@import "../../app/styles/variables.scss";

.outfitSection {
    height: 100vh;
    background-color: $background;
}

.nextButtons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.validateButton {
    background-color: $blue;
    border-radius: 100px;
    color: white;
    padding: 8px 11px;
    font-family: $body;
    border: none;
}

.bagButton {
    background-color: $blue;
    border-radius: 100px;
    color: white;
    padding: 8px 11px;
    font-family: $body;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.addbutton button {
    border: 2px $blue solid;
    height: 100px;
    width: 100px;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.defaultModal p {
    padding-top: -100px;
}


.modalscontainer {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    height: fit-content;
}

