@import "../../styles/variables.scss";

.aboutContainer {
  margin-top: 15vh;
  margin-bottom: 20vh;
  height: 150vh;
  padding: 60px;
  .about {
    height: 50%;
    display: flex;

    .imgContainer {
      width: 50%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .textContent {
      width: 50%;
      padding: 34px;
      h3 {
        margin-bottom: 18px;
      }
    }
  }
}
.about2 {
  h3 {
    color: $pink;
  }
}
