@import "../../styles/variables.scss";

.footer {
  background-color: $black;
  color: $background;
  padding: 60px;
  height: 100vh;
  .footerNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    .social {
      display: flex;
    }
    .navigation {
      ul {
        display: flex;
        a {
          margin-left: 24px;
          color: $background;
          font-family: $title;
          font-size: 28px;
        }
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 252px;
  }
}

.newsletter {
  margin-top: 42px;
  h4 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 26px;
  }
  .email {
    width: fit-content;
    border-bottom: 1px solid $background;
    input {
      color: $background;
      background: none;
      border: none;
      font-family: $body;
      font-size: 20px;
      &::placeholder {
        color: $background;
      }
      &[type="submit"] {
        cursor: pointer;
      }
    }
  }
}
