.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 36px;
    }
  }
  .heroIllustrations {
    margin-top: 78px;
    height: 35%;
    width: 30%;
    // opacity: 0.25;
    img {
      height: 100%;
      width: 100%;
      border-radius: 80px 80px 25px 25px;
      object-fit: cover;
    }
  }
}
