@import ".../../../../styles/variables.scss";
.engagementSection {
  margin: 72px 60px 50vh;
  h2 {
    margin-bottom: 72px;
    color: $blue;
  }
  .engagementContainer {
    display: flex;
    .engagementAnim {
      width: 50%;
      height: 50vh;
      position: sticky;
      top: 10%;
      .imgContainer {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .engagementContent {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 44px;
      .engagement {
        margin-bottom: 92px;
        h4 {
          color: $blue;

          margin-bottom: 26px;
        }
      }
    }
  }
}
